.select-box-container{
    margin-top: 80px;
}

.title{
    font-family: poppins;
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
}

.appear{
    display: block;
}

.disapear{
    display: none;
}

.form-select{
margin-bottom: 40px;
}

.chart-pie{
    margin-top: 40px;
}